@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

*{
    margin: 0;
    cursor: default;
}

:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}

body{
    font-family: 'Bai Jamjuree', sans-serif;
    overflow-x: hidden;
}

.headerContainer{
    width: 100%;
    background-image: url("../images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header img{
    width: 125px;
}

.titleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleContainer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleContainer h1{
    font-size: 40px;
    margin-top: -125px;
    margin-bottom: 20px;
    color: var(--dark-grayish-blue);
}

.titleContainer p{
    text-align: center;
    line-height: 26px;
    color: var(--grayish-blue);
    font-size: 18px;
    margin-bottom: 5px;
}

.downloadContainer{
    display: flex;
    justify-content: center;
}

.downloadContainer .ios{
    height: 45px;
    width: 200px;
    background-color: var(--strong-cyan);
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    margin-top: 40px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 0px 1px rgb(35, 160, 141);
    transition: all 250ms;
}

.downloadContainer .ios:hover{
    cursor: pointer;
    transition: all 250ms;
    transform: scale(1.025);
} 

.downloadContainer .mac{
    height: 45px;
    width: 200px;
    background-color: var(--light-blue);
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    margin-top: 40px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 0px 1px rgb(76, 91, 202);
    transition: all 250ms;
}

.downloadContainer .mac:hover{
    cursor: pointer;
    transition: all 250ms;
    transform: scale(1.025);
}

.titleTwoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleTwoContainer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleTwoContainer h1{
    font-size: 34px;
    margin-top: 130px;
    margin-bottom: 20px;
    color: var(--dark-grayish-blue);
}

.titleTwoContainer p{
    text-align: center;
    line-height: 26px;
    color: var(--grayish-blue);
    font-size: 16px;
    margin-bottom: 5px;
}

.contentContainer{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 100px;
}

.contentContainer img{
    width: 700px;
    object-fit: cover;
}

.contentContainer .contentDescription{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentContainer .quickSearch{
    margin-bottom: 50px;
}

.contentContainer .icloudSync{
    margin-bottom: 50px;
}

.contentDescription .completeHistory{
    margin-bottom: 50px;
}

.contentContainer .quickSearch h2{
    color: var(--dark-grayish-blue);
    margin-bottom: 10px;
}

.contentContainer .quickSearch p{
    color: var(--grayish-blue);
    font-size: 16px;
    margin-bottom: 10px;
    text-align: start;
    line-height: 26px;
}

.contentContainer .icloudSync h2{
    color: var(--dark-grayish-blue);
    margin-bottom: 10px;
}

.contentContainer .icloudSync p{
    color: var(--grayish-blue);
    font-size: 16px;
    margin-bottom: 10px;
    text-align: start;
    line-height: 26px;
}

.contentContainer .completeHistory h2{
    color: var(--dark-grayish-blue);
    margin-bottom: 10px;
}

.contentContainer .completeHistory p{
    color: var(--grayish-blue);
    font-size: 16px;
    margin-bottom: 10px;
    text-align: start;
    line-height: 26px;
}

.titleThreeContainer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleThreeContainer h1{
    font-size: 34px;
    margin-top: 225px;
    margin-bottom: 20px;
    color: var(--dark-grayish-blue);
}

.titleThreeContainer p{
    color: var(--grayish-blue);
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
    line-height: 26px;
}

.imageDevices{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageDevices img{
    margin-top: 100px;
}

.titleFourContainer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleFourContainer h1{
    font-size: 34px;
    margin-top: 75px;
    margin-bottom: 20px;
    color: var(--dark-grayish-blue);
}

.titleFourContainer p{
    color: var(--grayish-blue);
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
    line-height: 26px;
}

.toolsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
}

.toolsContainer .blacklists{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.toolsContainer .blacklists h3{
    margin-top: 30px;
    margin-bottom: 20px;
    color: var(--dark-grayish-blue);
}

.toolsContainer .blacklists p{
    color: var(--grayish-blue);
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
    line-height: 26px;
}

.toolsContainer .plainText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toolsContainer .plainText h3{
    margin-top: 30px;
    margin-bottom: 20px;
    color: var(--dark-grayish-blue);
}

.toolsContainer .plainText p{
    color: var(--grayish-blue);
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
    line-height: 26px;
}

.toolsContainer .sneakPreview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toolsContainer .sneakPreview h3{
    margin-top: 40px;
    margin-bottom: 20px;
    color: var(--dark-grayish-blue);
}

.toolsContainer .sneakPreview p{
    color: var(--grayish-blue);
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
    line-height: 26px;
}

.brandsContainer div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 110px;
}

.titleFiveContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleFiveContainer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.titleFiveContainer h1{
    font-size: 34px;
    margin-top: 75px;
    margin-bottom: 20px;
    color: var(--dark-grayish-blue);
}

.titleFiveContainer p{
    color: var(--grayish-blue);
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
    line-height: 26px;
}

.footerContainer{
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin-top: 150px;
}

.footerContainer .footer{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--dark-grayish-blue);
}

.footerContainer .footer img{
    cursor: pointer;
}

.footerContainer .footer div p{
    padding-top: 15px;
    transition: all 250ms;
}

.footerContainer .footer div p:hover{
    cursor: pointer;
    color: var(--strong-cyan);
    transition: all 250ms;
}

.footerContainer .footer div img:hover{
    cursor: pointer;
}

.footerContainer .footer .installGuide{
    align-self: flex-start;
}

.footerContainer .footer .socialIcons{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}